<a href="https://colab.research.google.com/github/hydermbs/Class-work-python/blob/main/Pakistan_Ecommerce_Dataset_By_Zeeshan_USmani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [18]:
from google.colab import files
uploaded = files.upload()

Saving ecommerce.csv to ecommerce.csv

In [19]:
df = pd.read_csv('ecommerce.csv')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,2,3,7,8,9,11,12,13,14,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (26) exceeds max_columns (20) limiting to first (20) columns.

In [20]:
df.tail

<bound method NDFrame.tail of           item_id          status created_at  \
0        211131.0        complete   7/1/2016
1        211133.0        canceled   7/1/2016
2        211134.0        canceled   7/1/2016
3        211135.0        complete   7/1/2016
4        211136.0  order_refunded   7/1/2016
...           ...             ...        ...
1048570       NaN             NaN        NaN
1048571       NaN             NaN        NaN
1048572       NaN             NaN        NaN
1048573       NaN             NaN        NaN
1048574       NaN             NaN        NaN

                                                       sku   price  \
0                                        kreations_YI 06-L  1950.0
1        kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...   240.0
2                                       Ego_UP0017-999-MR0  2450.0
3                                           kcc_krone deal   360.0
4                                              BK7010400AG   555.0
...                                                    ...     ...
1048570                                                NaN     NaN
1048571                                                NaN     NaN
1048572                                                NaN     NaN
1048573                                                NaN     NaN
1048574                                                NaN     NaN

         qty_ordered  grand_total increment_id    category_name_1  \
0                1.0       1950.0    100147443    Women's Fashion
1                1.0        240.0    100147444  Beauty & Grooming
2                1.0       2450.0    100147445    Women's Fashion
3                1.0         60.0    100147446  Beauty & Grooming
4                2.0       1110.0    100147447            Soghaat
...              ...          ...          ...                ...
1048570          NaN          NaN          NaN                NaN
1048571          NaN          NaN          NaN                NaN
1048572          NaN          NaN          NaN                NaN
1048573          NaN          NaN          NaN                NaN
1048574          NaN          NaN          NaN                NaN

        sales_commission_code  ...  Month Customer Since     M-Y    FY  \
0                          \N  ...    7.0         2016-7  7-2016  FY17
1                          \N  ...    7.0         2016-7  7-2016  FY17
2                          \N  ...    7.0         2016-7  7-2016  FY17
3                 R-FSD-52352  ...    7.0         2016-7  7-2016  FY17
4                          \N  ...    7.0         2016-7  7-2016  FY17
...                       ...  ...    ...            ...     ...   ...
1048570                   NaN  ...    NaN            NaN     NaN   NaN
1048571                   NaN  ...    NaN            NaN     NaN   NaN
1048572                   NaN  ...    NaN            NaN     NaN   NaN
1048573                   NaN  ...    NaN            NaN     NaN   NaN
1048574                   NaN  ...    NaN            NaN     NaN   NaN

        Customer ID  Unnamed: 21  Unnamed: 22 Unnamed: 23 Unnamed: 24  \
0               1.0          NaN          NaN         NaN         NaN
1               2.0          NaN          NaN         NaN         NaN
2               3.0          NaN          NaN         NaN         NaN
3               4.0          NaN          NaN         NaN         NaN
4               5.0          NaN          NaN         NaN         NaN
...             ...          ...          ...         ...         ...
1048570         NaN          NaN          NaN         NaN         NaN
1048571         NaN          NaN          NaN         NaN         NaN
1048572         NaN          NaN          NaN         NaN         NaN
1048573         NaN          NaN          NaN         NaN         NaN
1048574         NaN          NaN          NaN         NaN         NaN

        Unnamed: 25
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
1048570         NaN
1048571         NaN
1048572         NaN
1048573         NaN
1048574         NaN

[1048575 rows x 26 columns]>

In [21]:
df.shape

(1048575, 26)

In [23]:
a = df
myvar = pd.Series(a)
print(myvar)

ValueError: ignored

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  float64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  object
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  float64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447349 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  float64
 16  Month                  584524 non-null  float64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
 21  Unnamed: 21            0 non-null       float64
 22  Unnamed: 22            0 non-null       float64
 23  Unnamed: 23            0 non-null       float64
 24  Unnamed: 24            0 non-null       float64
 25  Unnamed: 25            0 non-null       float64
dtypes: float64(13), object(13)
memory usage: 208.0+ MB
None

In [29]:
print(df.isna().sum(axis = 1))

0           5
1           5
2           5
3           5
4           5
           ..
1048570    26
1048571    26
1048572    26
1048573    26
1048574    26
Length: 1048575, dtype: int64