<a href="https://colab.research.google.com/github/hydermbs/Class-work-python/blob/main/Tuple_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1: Reverse The Tuple**

In [2]:
tuple1 = (10, 20, 30, 40, 50)
tuple1= tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

**Exercise 2: Access value 20 from the tuple**

In [5]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

**Exercise 3: Create a tuple with single item 50**

In [8]:
tuple1= (50,)
print(tuple1)

(50,)

**Exercise 4: Unpack the tuple into 4 variables**

In [9]:
tuple1 = (10, 20, 30, 40)
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

**Exercise 5: Swap two tuples in Python**

Given:

tuple1 = (11, 22)

tuple2 = (99, 88)

In [10]:
tuple1 = (11, 22)

tuple2 = (99, 88)
tuple1,tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

**Exercise 6: Copy specific elements from one tuple to a new tuple**

Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

Given:

tuple1 = (11, 22, 33, 44, 55, 66)

In [14]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

**Exercise 7: Modify the tuple**

Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

Given:

tuple1 = (11, [22, 33], 44, 55)

In [16]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

**Exercise 8: Sort a tuple of tuples by 2nd item**

Given:

tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

In [17]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

**Exercise 9: Counts the number of occurrences of item 50 from a **


Given:

tuple1 = (50, 10, 60, 70, 50)

In [18]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

**Exercise 10: Check if all items in the tuple are the same**

In [19]:
tuple1 = (45, 45, 45, 45)
def check(t):
    return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True